---
import { date } from "astro:schema";
import "./Formacion.css";
const SERVICIOS = [
    {
        title: "Psicologa ULL",
        description: "Diseño de páginas web a medida, adaptadas a tus necesidades y objetivos.",
        icon: "universidad-de-la-laguna.png",
        date: "10-09-2022",
    },
    {
        title: "Desarrollo Web",
        description: "Desarrollo de páginas web con tecnologías modernas y escalables.",
        icon: "psychology.png",
        date: "10-09-2022",
    },
    {
        title: "SEO",
        description: "Optimización de tu página web para mejorar su posicionamiento en buscadores.",
        icon: "brain.png",
    },
    {
        title: "Mantenimiento Web",
        description: "Mantenimiento y actualización de tu página web para que siempre esté al día.",
        icon: "psychology.png",
        date: "10-09-2022",
    },
    {
        title: "Tiendas Online",
        description: "Diseño y desarrollo de tiendas online para vender tus productos en internet.",
        icon: "brain.png",
        date: "10-09-2022",
    },
]
---
<section class="services">
    <h2>Formación</h2>
    <ul>
        {
            SERVICIOS.map((servicio) => (
                <li class="service">
                    <img src={`/img/estudios/${servicio.icon}`} alt={servicio.title}/>
                    <h3>{servicio.title}</h3>
                    <p class="date">{servicio.date}</p>
                    <p class="description">{servicio.description}</p>
                </li>
            ))
        }
    </ul>
</section>
